*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}


body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
}

.calculator{
background:#1e1e2f;
padding:25px;
border-radius:20px;
box-shadow:0 15px 35px rgba(0,0,0,.4);
width:350px;
}

.calculator h2{
text-align:center;
color:white;
margin-bottom:20px;
}

#display{
width:100%;
height:70px;
font-size:28px;
padding:10px;
border:none;
outline:none;
border-radius:10px;
background:#333;
color:#fff;
text-align:right;
margin-bottom:20px;
}

.buttons{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:15px;
}

button{
height:65px;
font-size:22px;
border:none;
border-radius:12px;
cursor:pointer;
transition:.3s;
background:#444;
color:white;
}

button:hover{
transform:scale(1.05);
background:#666;
}

.operator{
background:#ff9800;
}

.operator:hover{
background:#ffb74d;
}

.equal{
grid-column:span 2;
background:#4CAF50;
}

.equal:hover{
background:#66BB6A;
}

.clear{
background:#f44336;
}

.clear:hover{
background:#ef5350;
}

.delete{
background:#607d8b;
}

.delete:hover{
background:#78909c;
}

@media(max-width:400px){

.calculator{
width:95%;
}

button{
height:60px;
}

}
